body{
    font-family: 'Roboto';
}
h1{
    font-size: 40px;
}
.coloring{
    color:orangered;
}
p{
    line-height: 25px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
}
